.home-main-div{
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    max-width: 70%;
    color: white;
}
.img-div{
    width: 50%;
}
.home-main-div .img-div img{
    width: 90%;
}

.text-div{
    width: 50%;
    height: 70%;
}

.home-main-div .text-div2{
    display: flex;
    gap:40px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.home-main-div .text-div img{
    width: 25%;
}

.home-main-div .text-div h1{
    font-size: 2.2rem;
    font-weight: 550;
}

.text-div button{
    all: unset;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 3% 5% ;
    border-radius: 30px;
    cursor: pointer;
}

@media (max-width:600px){

.img-div{
    width: 200px;
}

.home-main-div{
    justify-content: center;
}


.text-div{
    margin-top: 20px;
   width: 90%;
   display: flex;
   flex-direction: column;

}

.home-main-div .text-div2{
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 10px;
}

.text-div2 img{
    display: none;
}

}