*{
  margin:0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.init-container{
  background:linear-gradient(to bottom right ,rgb(188, 54, 101) 6.89%, rgb(39, 39, 112) 111.46%);
  min-height: 51rem;
clip-path: ellipse(100% 87.00% at 50% 0%);
  position: relative;
}